<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
</head>
<body>
    <h1>Welcome to the Quiz</h1>
    
    <h2>Best Scores:</h2>
    {% if best_users %}
        <p>The highest score so far is: {{ highest_score }}</p>
        <p>Achieved by: </p>
        <ul>
            {% for user in best_users %}
                <li>{{ user.username }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No scores yet!</p>
    {% endif %}
    

    <h2>Start the Quiz</h2>
    <form action="/start" method="POST">
        <label for="username">Enter your username:</label>
        <input type="text" name="username" required>
        <button type="submit">Start Quiz</button>
    </form>
</body>
</html>
